
.DS_Store
.ipynb_checkpoints/amplitude and frequency-checkpoint.ipynb
.ipynb_checkpoints/data checkup-checkpoint.ipynb
.ipynb_checkpoints/fourier-checkpoint.ipynb
.ipynb_checkpoints/data-checkpoint.txt
